title {
    display: none;
 }
 h1 {
    display: inline-block;
    text-align: center;
    font-family:"Lucida handwriting", "Brush Script MT";
    font-size: 90px;
    color: rgb(207, 206, 206);  
    padding: 5px;
    margin-left: 200px;
    border-right: 10px;
    border-left: 100px;
    border: 10px solid rgb(55, 136, 55);
 }
 
 h2 {
    text-align: left;
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
    color: white;  
    padding-top: 100px;
 }
 h3 {
    text-align: left;
    font-family:inherit;
    font-size: 20px;
    color: white;  
    padding-top: 10px;
    
 }
 body{
   background-color: rgb(218, 246, 219);
 }
 .ul-row {
    list-style-type: none;
    margin: 0;
    width: 1500px;
    padding: 9px;
    padding-right: 0px;
    overflow: hidden;
    display: block;
    background-color: black;
 }
 li {
    float: left;
  }
 li a, .mydroptoc {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .sectiona{
    background-image: url("rainLeaves.gif");
    align-items: center;
    background-color: rgb(92, 92, 190);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 50px;
    margin:10 ;

   
  }
 
 p {
    font-size:25px;
   font-family: "Lucida handwriting", "Brush Script MT";
   text-align: left;
   font-weight: bold;
   color: black;
  
 }
  
 
 .modal {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: auto;
   padding: 10px 10px;
   padding-top: 0;
   margin-left: 20px;
   background-color: rgb(119, 129, 133 ,  0.7);
   border: 10px solid #2a5465;
   border-radius: 5px;
   border-spacing: 0px;
   border-collapse: separate;
 }

 body {
   background-size: cover;
   
 }

 a {
   color: black;
    text-decoration:underline;
 }
 
 footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
    opacity: 0.9;
    font-size: 25px;
    text-align: center;
 }
 
 