title {display: none;
}
h2 {
 background-image: url("me.jpg");
}

img2 {
  max-width: 100%;
  height: auto;
}

p {text-align: center;
  font-size:20px;
  font-family: Lucida handwriting, Brush Script MT;
  color: dark blue;
}
footer {text-align: center;}
body {
  background-image: url("water-34.webp");
}
