title {display: none;
}
h1 {
   text-align: center;
   font-family: "Lucida handwriting", "Brush Script MT";
   font-weight: bold;
   color: rgb(207, 206, 206);
   text-shadow: 3px 3px rgb(0 105 148 / 70%);  
}
h2 {text-align: center;
   font-family: "Lucida handwriting", "Brush Script MT";
   font-weight: bold;
   color: rgb(207, 206, 206);
   text-shadow: 3px 3px rgb(0 105 148 / 70%);
   
}
p {
   font-size:25px;
  font-family: "Lucida handwriting", "Brush Script MT";
  text-align: left;
  font-weight: bold;
  color: rgb(207, 206, 206);
  text-shadow: 3px 3px rgb(0 105 148 / 70%);

}
body {
  background-image: url("water-34.webp");
}

footer {
   text-align: center;
   font-size: 20px;
   margin-left: 0;
   margin-right: 0;
   line-height:20px;
}


/* this is introduction*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
  height:200px;
}
div.intro {
  background-color:#EDC9AF; 
  border: 15px solid beige;
  padding: 50px;
  text-align: left;
}

p.introduction {
  text-align: left;
  font-size:20px;
  font-family:"Lucida handwriting", "Brush Script MT";
  color: #4d2600;
}
p.footer-intro {
  text-align: center;
   
}


/* it is for template */

 ul.temp {
   text-align: left;
   margin: 0;
   font-size: 20px;
    list-style-type: none;
}
 
 h1.temp-header {
    text-align: left;
    font-family: "Lucida handwriting", "Brush Script MT";
    
 }
 h2.temp-h2 {
    text-align: left;
    font-family:" Lucida handwriting", "Brush Script MT";
    
 }
    

 button-temp{
  background-color: #199319;
  color: #4d2600;
  font-size: 20px
}

footer p {
   text-align: center;
   margin-bottom: 100px;
}

 /* it for brand  */

 h1.brand-header {
    text-align: center;
    font-family: "Lucida handwriting", "Brush Script MT";
   
 }
 h2.brand-h2 {
    text-align: left;
    font-family: "Lucida handwriting", "Brush Script MT";
   
 
 }
 p.brand-paragraph {text-align: left;
   font-size:25px;
   font-family: "Lucida handwriting", "Brush Script MT";
   
 }

/* Tabel of Content */
 .h1-toc {
    text-align: center;
    font-family: "Lucida handwriting", "Brush Script MT";
    
}
 .h2-toc {
    text-align: center;
    font-family: "Lucida handwriting", "Brush Script MT";
   
}
.div-toc {
  
   text-align: center;
   font-family: "Lucida handwriting", "Brush Script MT";
   line-height: 100%;
   font-weight: bold;

}
.ul-toc{
    list-style-type: none;
    list-style-image: none;
   font-weight: bold;
   line-height: 100%;
}

 
