title {display: none;
}
h1 {text-align: center;
   font-family: "Lucida handwriting", "Brush Script MT";
   color: beige;
    text-shadow: 2px 2px 4px #000000;
}
h2 {text-align: center;
   font-family: "Lucida handwriting", "Brush Script MT";
   color: darkblue;
   text-shadow: 2px 2px 4px #000000;
}
div.contract {
  background-color: yellow;
  width: 800px;
  border: 15px solid beige;
  padding: 50px;
  margin: 0px;
  text-align: middle ;
  text-shadow: 2px 2px 4px #000000;
  opacity: 0.5;
  top: 50%; 
}


p {font-size:25px;
  font-family: "Lucida handwriting", "Brush Script MT";
  color: white;
  text-align: left;
}
body {
  background-image: url("water-34.webp");
}

footer {
   text-align: center;
   font-size: 50px;
   margin-left: 0;
   margin-right: 0;
}


/* this is introduction*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
  height:200px;
}
div.intro{
  background-color:#EDC9AF; 
  border: 15px solid beige;
  padding: 50px;
  text-align: left;
}

p.introduction {
  text-align: left;
  font-size:50px;
  font-family:"Lucida handwriting", "Brush Script MT";
  color: black;
}
p.footer-intro{
  text-align: center;
   
}


/* it is for template */

 ul {
   text-align: left;
   margin: 0;
   font-size: 20px;
    list-style-type: none;
}
 
 h1.temp-header {
    text-align: left;
    font-family: "Lucida handwriting", "Brush Script MT";
    color: white;
 }
 h2.temp-h2 {
    text-align: left;
    font-family:" Lucida handwriting", "Brush Script MT";
    color: white;
 }
    

 button-temp{
  background-color: #199319;
  color: white;
  font-size: 50px
}

footer p {
   text-align: center;
   margin: bottom;
}

 /* it for brand  */

 h1.brand-header {text-align: center;
    font-family: "Lucida handwriting", "Brush Script MT";
    color: #EDC9AF;
 }
 h2.brand-h2 {text-align: left;
    font-family: "Lucida handwriting", "Brush Script MT";
    color: #EDC9AF;
 
 }
 p.brand-paragraph {text-align: left;
   font-size:50px;
   font-family: "Lucida handwriting", "Brush Script MT";
   color: #EDC9AF;
   text-shadow: 2px 2px 4px #000000;
 }

 
