title {display: none;
}
h1 {text-align: center;
   font-family: Lucida handwriting, Brush Script MT;
   color: white;
}
h2 {text-align: center;
   font-family: Lucida handwriting, Brush Script MT;
   color: white;

}
ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {text-align: center;}
body {
  background-image: url("water-34.webp");
}
